* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

.signupbox {
    width: 400px;
    padding: 18px;
    box-shadow: 0px 0px 2px 0px;
    height: 700px;
    margin: 8% auto;
}

h2 {
    font-size: 30px;
    margin: 10px 0;
}

.box {
    width: 85%;
    margin: 10px 0;
    border-radius: 18px;
    padding: 10px;
    background: transparent;
    border: 1px solid black;
}

#gender {
    margin: 10px 0;
}

.terms {
    margin: 10px 0;
}

.submit {
    width: 76%;
    margin: 10px 0;
    border-radius: 18px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.login {
    font-size: 20px;
    margin-left: 35%;
    margin-top: -5%;
}

button {
    width: 110px;
    margin: 10px 0;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
    background: black;
    color: white;

}
